/* SOLO IMPORTS */
/* Mis variables */
/* Colores */
/* ---- UNIVERSAL ---- */
* {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*=================================================================================================================
  INDEX.HTML
  ==================================================================================================================*/
/* ---- HEADER ---- */
.NavBar {
  width: 100%;
  position: absolute;
  overflow: hidden; }

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.Logo {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  position: relative;
  top: 17px;
  left: 30px; }

.Logo p i {
  color: #E30000;
  font-size: 22px; }

.avion {
  position: relative;
  animation-name: avion-desplazarse;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-delay: 1s;
  opacity: 0;
  animation-fill-mode: forwards; }

@keyframes avion-desplazarse {
  0% {
    left: -100px;
    opacity: .2; }
  50% {
    opacity: 0.8; }
  100% {
    left: 0;
    opacity: 1; } }

.NavBar ul {
  margin: 25px 0 0 0;
  flex-grow: 1;
  text-align: right;
  justify-items: space-evenly; }

.NavBar ul li {
  display: inline-block; }

.NavBar ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 25px; }

/* ---- MENU HAMBURGUESA ---- */
.BotonHamburguesa {
  display: none; }

.BotonCerrar {
  display: none; }

/* ---- INICIO ---- */
main {
  min-height: 100%; }

.Inicio {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), transparent), url(https://cdn.getyourguide.com/img/location/535e42f7ac585.jpeg/88.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover; }

.InicioText {
  position: relative;
  top: 40%;
  text-align: center;
  animation-name: texto-aparicion;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-delay: .5s;
  animation-fill-mode: forwards;
  opacity: 0; }

@keyframes texto-aparicion {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.InicioText {
  position: relative;
  top: 40%;
  text-align: center; }

.InicioText h1 {
  color: #fff;
  font-size: 70px;
  font-weight: 700; }

.InicioText p {
  color: #fff;
  font-size: 30px;
  margin-top: 20px; }

/* ---- DESTINOS ---- */
.Destinos {
  width: 90%;
  margin: auto;
  margin-top: 60px;
  text-align: center; }

.DestinoText h2 {
  font-size: 40px;
  font-weight: 700; }

.DestinoText p {
  margin-bottom: 50px;
  font-size: 20px; }

.DestinoCiudad {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  grid-template-rows: 2;
  justify-content: space-evenly;
  grid-row-gap: 30px; }

.DestinoCiudad img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(107, 77, 77, 0.678); }

.DestinoCiudad p {
  font-size: 30px;
  text-shadow: 0px 0px 8px #000;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  color: #fff; }

.DestinoCiudad--text {
  position: relative; }

/* ---- REVIEWS ---- */
.Review {
  width: 100%;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 60px;
  text-align: center; }

.ReviewText h2 {
  font-size: 40px;
  font-weight: 700; }

.ReviewPersonas {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.ReviewPersonas h3 {
  font-weight: 700;
  font-size: 20px; }

.Review1, .Review2 {
  width: 45%;
  background-color: #FFF7F3;
  border-radius: 10px;
  padding: 30px;
  margin: 50px 20px;
  align-items: center; }

.ReviewPersonas img {
  width: 60px;
  border-radius: 50%;
  margin-bottom: 10px;
  box-shadow: 0px 0px 5px #E30000; }

.ReviewPersonas p {
  font-size: 17px;
  line-height: 1.5;
  margin: 5px; }

.ReviewPersonas .fa-solid {
  font-size: 20px;
  margin-top: 10px;
  color: #E30000; }

/* ---- FOOTER ---- */
footer {
  width: 100%;
  height: 90px;
  background-color: #BEA6A0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.FooterText {
  flex-grow: 0.2; }

.FooterLogo {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  display: inline; }

.FooterLogo i {
  color: #E30000;
  font-size: 20px; }

.FooterCopy {
  color: #fff;
  font-size: 16px;
  display: inline; }

.FooterSocialMedia {
  flex-grow: 0.2; }

.fa-brands {
  margin-left: 30px;
  color: #fff;
  font-size: 25px; }

/*=================================================================================================================
  PAQUETES.HTML
  ==================================================================================================================*/
/* ---- HEADER ---- */
.HeaderBackground p {
  color: #000; }

.HeaderBackground ul li a {
  color: #000; }

.HeaderBackground {
  width: 100%;
  height: 150px;
  background-image: linear-gradient(rgba(190, 166, 160, 0.5), transparent); }

/* ---- PAQUETES ---- */
.Paquete {
  width: 90%;
  margin: auto;
  text-align: center; }

.PaqueteText h1 {
  font-size: 50px;
  font-weight: 700; }

.PaqueteText p {
  font-size: 22px;
  margin: 10px 0 30px 0; }

.PaqueteGrid {
  display: grid;
  grid-template-columns: repeat(2, 40%);
  grid-row-gap: 50px;
  justify-content: space-around;
  margin-top: 70px; }

.PaqueteViaje {
  display: inline-block;
  height: 350px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 1px 1px 4px #777;
  text-align: left; }

.PaqueteViaje img {
  width: 100%;
  height: 40%;
  object-fit: cover; }

.PaqueteViaje .PaqueteInfo {
  padding: 5px 10px; }

.PaqueteViaje .PaqueteInfo i {
  font-size: 23px;
  color: #BEA6A0; }

.PaqueteViaje .PaqueteInfo h2 {
  font-size: 20px;
  font-weight: 700; }

.PaqueteViaje .PaqueteInfo p {
  font-size: 15px;
  padding: 2px 0; }

.PaqueteViaje .PaqueteInfo .Dias {
  color: #B3867B;
  font-weight: bold; }

.PaqueteViaje .PaqueteInfo button {
  background-color: #BEA6A0;
  border-style: none;
  padding: 8px;
  width: 40%;
  border-radius: 5px;
  margin: 15px 0px;
  font-size: 16px;
  cursor: pointer;
  color: #fff; }

/* ---- CONSULTA ---- */
.Consulta {
  width: 60%;
  margin: auto;
  text-align: center;
  margin-bottom: 80px;
  margin-top: 80px; }

.ConsultaText {
  width: 100%;
  height: 300px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(https://cdn.getyourguide.com/img/location/535e42f7ac585.jpeg/88.jpg);
  background-size: cover;
  margin: 50px 0;
  border-radius: 25px;
  color: #fff; }

.ConsultaText h3 {
  position: relative;
  top: 30%;
  font-size: 35px;
  font-weight: 700; }

.ConsultaText p {
  position: relative;
  top: 35%;
  font-size: 20px; }

.ConsultaText button {
  position: relative;
  top: 45%;
  font-size: 16px;
  border-style: none;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 10px 15px;
  cursor: pointer; }

.ConsultaText a {
  color: #fff;
  text-decoration: none; }

/*=================================================================================================================
  SERVICIOS.HTML
  ==================================================================================================================*/
.Servicios {
  width: 90%;
  text-align: center;
  margin: auto;
  margin-bottom: 50px; }

.ServiciosText h1 {
  font-size: 50px;
  font-weight: 700; }

.ServiciosText p {
  font-size: 22px;
  margin: 10px 0 30px 0; }

.ServiciosFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.ServiciosInfo {
  width: 30%;
  overflow: hidden;
  margin-top: 30px; }
  .ServiciosInfo h2 {
    font-size: 25px;
    color: #B3867B;
    font-weight: 700; }
  .ServiciosInfo p {
    font-size: 17px;
    line-height: 1.5;
    margin: 15px 15px 0 15px; }
  .ServiciosInfo img {
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: -1;
    border-radius: 10px; }

.ServiciosGradiente {
  width: 100%;
  background: linear-gradient(to bottom, white, transparent); }

.ServiciosGastronomia p {
  margin-bottom: 30px; }

/*=================================================================================================================
  GALERIA.HTML
  ==================================================================================================================*/
/* MIXIN */
/* MAP-GET() */
.Galeria {
  width: 100%;
  margin: auto;
  text-align: center; }

.GaleriaText {
  margin-bottom: 50px; }

.GaleriaText h1 {
  font-size: 50px;
  font-weight: 700; }

.GaleriaText p {
  font-size: 22px;
  font-weight: 500; }

.GaleriaImg {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
  grid-auto-flow: dense;
  grid-gap: 5px;
  margin: 50px; }

.GaleriaImg img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.btn-primary {
  background-color: #fff !important;
  border-color: #fff !important; }

.img1, .img5, .img8, .img9, .img11, .img12 {
  grid-row: span 4;
  grid-column: span 1; }

.img2, .img4, .img6 {
  grid-row: span 3;
  grid-column: span 1; }

.img3, .img7, .img10 {
  grid-row: span 5;
  grid-column: span 1; }

/*=================================================================================================================
  CONTACTO.HTML
  ==================================================================================================================*/
.Contacto {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-bottom: 50px; }

.Contacto h1 {
  font-size: 50px; }

.Contacto p {
  font-size: 22px;
  margin-bottom: 40px; }

.Formulario {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  margin: auto;
  background-image: linear-gradient(rgba(221, 221, 221, 0.7), rgba(117, 116, 116, 0.4)), url(../img/galeriaroma2.jpg); }

.Formulario .fa-solid {
  font-size: 110px;
  color: #fff;
  margin: 20px;
  animation-name: giroSobre;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; }

@keyframes giroSobre {
  0% {
    transform: rotate(0deg); }
  33% {
    transform: rotate(20deg); }
  66% {
    transform: rotate(-20deg); }
  100% {
    transform: rotate(0deg); } }

.FormularioNombre, .FormularioMail, .FormularioConsulta {
  margin: 20px 0; }

form label {
  display: block;
  font-size: 16px;
  font-weight: bold; }

form input {
  width: 90%;
  border-style: none;
  padding: 5px; }

form textarea {
  width: 90%;
  border-style: none;
  resize: none;
  padding: 5px; }

form button {
  width: 40%;
  margin-bottom: 30px;
  border-style: none;
  padding: 5px;
  cursor: pointer; }

/***** MEDIA QUERIES - INDEX *****/
/* TABLET */
@media screen and (max-width: 1024px) {
  /* NAV BAR */
  .NavBar ul li a {
    padding: 0 8px;
    font-size: 14px; }
  /* INICIO */
  .InicioText h1 {
    font-size: 60px; }
  .InicioText p {
    font-size: 25px;
    margin-top: 20px; }
  /* DESTINOS */
  .DestinoText h2 {
    font-size: 30px; }
  .DestinoText p {
    font-size: 17px; }
  .DestinoCiudad {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: repeat(3, 1fr); }
  .DestinoCiudad p {
    font-size: 25px; }
  /* REVIEWS */
  .ReviewText h2 {
    font-size: 30px; }
  .ReviewPersonas {
    flex-direction: column;
    align-items: center; }
  .Review1, .Review2 {
    width: 80%; }
  /* FOOTER */
  .FooterLogo {
    font-size: 18px; }
  .FooterLogo i {
    font-size: 18px; }
  .FooterCopy {
    color: #fff;
    font-size: 14px;
    display: inline; } }

/* MOBILE */
@media screen and (max-width: 600px) {
  /* MENU HAMBURGUESA */
  .BotonHamburguesa {
    display: inline-block;
    color: #fff;
    font-size: 30px;
    padding: 10px 10px 0 10px; }
  .BotonHamburguesa i {
    color: #fff; }
  .NavBar ul {
    background-color: rgba(0, 0, 0, 0.9);
    width: 60%;
    max-width: 400px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    transition: .5s;
    z-index: 100;
    margin: 0; }
  .NavBar ul li a {
    font-size: 17px; }
  #sidebar:target {
    transform: translateX(0); }
  .LogoHamburguesa {
    margin-right: 20px; }
  .BotonCerrar {
    display: block;
    color: #fff;
    font-size: 25px;
    margin-right: 15px; }
  nav a {
    text-decoration: none; }
  /* FIN MENU HAMBURGUESA */
  /* INICIO */
  .InicioText h1 {
    font-size: 40px;
    text-shadow: 0px 0px 3px #000; }
  .InicioText p {
    font-size: 18px;
    margin: 20px;
    text-shadow: 0px 0px 3px #000; }
  /* DESTINOS */
  .DestinoText p {
    font-size: 15px; }
  .DestinoCiudad {
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: repeat(6, 1fr); }
  .DestinoCiudad p {
    font-size: 35px; }
  /* REVIEWS */
  .Review1, .Review2 {
    width: 100%; }
  /* FOOTER */
  footer {
    flex-direction: column; }
  .fa-brands {
    margin: 0 20px;
    font-size: 30px; } }

/***** MEDIA QUERIES - PAQUETES *****/
/* TABLET */
@media screen and (max-width: 1024px) {
  /* PAQUETES */
  .Paquete {
    width: 70%; }
  .PaqueteGrid {
    grid-template-columns: 90%;
    grid-template-rows: repeat(6, 1fr); }
  /* CONSULTAS */
  .Consulta {
    width: 90%; }
  .ConsultaText {
    margin: 50px 0; }
  .ConsultaText h3 {
    font-size: 30px; }
  .ConsultaText p {
    font-size: 15px; } }

/* MOBILE */
@media screen and (max-width: 600px) {
  /* MENU HAMBURGUESA */
  .BotonHamburguesa {
    color: #000; }
  .NavBar ul {
    background-color: rgba(0, 0, 0, 0.9);
    width: 60%;
    max-width: 400px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    transition: .5s;
    z-index: 100;
    margin: 0; }
  .NavBar ul li a {
    font-size: 17px;
    color: #fff; }
  #sidebar:target {
    transform: translateX(0); }
  .LogoHamburguesa {
    margin-right: 20px; }
  .fa-xmark {
    display: block;
    color: #fff;
    font-size: 25px;
    margin-right: 15px; }
  nav a {
    text-decoration: none; }
  /* FIN MENU HAMBURGUESA */
  /* PAQUETES */
  .Paquete {
    width: 100%; }
  .PaqueteText h2 {
    font-size: 40px; }
  .PaqueteText p {
    font-size: 18px;
    margin: 20px; }
  /* CONSULTAS */
  .ConsultaText h3 {
    font-size: 25px; }
  .ConsultaText p {
    font-size: 13px; } }

/***** MEDIA QUERIES - SERVICIOS *****/
/* TABLET */
@media screen and (max-width: 1024px) {
  .ServiciosFlex {
    flex-wrap: wrap;
    justify-content: center; }
  .ServiciosInfo {
    width: 60%; }
  .ServiciosInfo img {
    width: 90%; } }

/* MOBILE */
@media screen and (max-width: 600px) {
  .ServiciosText h2 {
    font-size: 40px; }
  .ServiciosText p {
    font-size: 18px;
    margin: 20px; }
  .ServiciosInfo {
    width: 100%; } }

/***** MEDIA QUERIES - GALERIA *****/
/* TABLET */
@media screen and (max-width: 1024px) {
  .Galeria {
    width: 100%; }
  .GaleriaImg {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    margin: 40px; } }

/* MOBILE */
@media screen and (max-width: 600px) {
  .GaleriaImg {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin: 10px; }
  .GaleriaText h2 {
    font-size: 40px; }
  .GaleriaText p {
    font-size: 18px;
    margin: 20px; } }

/***** MEDIA QUERIES - CONTACTO *****/
/* TABLET */
@media screen and (max-width: 1024px) {
  .Formulario {
    width: 60%;
    background-repeat: no-repeat;
    background-size: 100%; } }

/* MOBILE */
@media screen and (max-width: 600px) {
  .Contacto h2 {
    font-size: 40px; }
  .Contacto p {
    font-size: 18px;
    margin: 20px; }
  .Formulario {
    width: 90%; }
  .Formulario .fa-solid {
    font-size: 90px; }
  form input {
    width: 80%; }
  form textarea {
    width: 80%; } }
