/*=================================================================================================================
  GALERIA.HTML
  ==================================================================================================================*/
  
  /* MIXIN */
  @mixin fonts($font-size, $font-weight) {
    font-size: $font-size;
    font-weight: $font-weight;
  }

  /* MAP-GET() */
  $sizes: (
    width: 100%,
    height: 100%,
    color: #fff
  );


  .Galeria {
    width: map-get($sizes, width);
    margin: auto;
    text-align: center; }
  
  .GaleriaText {
    margin-bottom: 50px; }
  
  .GaleriaText h1 {
    @include fonts(50px,700); }
  
  .GaleriaText p {
    @include fonts(22px,500); }
  
  .GaleriaImg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
    grid-auto-flow: dense;
    grid-gap: 5px;
    margin: 50px; }
  
  .GaleriaImg img {
    width: map-get($sizes, width);
    height: map-get($sizes, height);
    object-fit: cover; }
  
  .btn-primary {
    background-color: map-get($sizes, color) !important;
    border-color: map-get($sizes, color) !important; }
  
  .img1 {
    grid-row: span 4;
    grid-column: span 1; }
  
  .img2 {
    grid-row: span 3;
    grid-column: span 1; } 
  
  .img3 {
    grid-row: span 5;
    grid-column: span 1; }
  
  .img4 {
    @extend .img2; }
  
  .img5 {
    @extend .img1; } 
  
  .img6 {
    @extend .img2; }
  
  .img7 {
    @extend .img3; }
  
  .img8 {
    @extend .img1; } 
  
  .img9 {
    @extend .img1; } 
  
  .img10 {
    @extend .img3; }
  
  .img11 {
    @extend .img1; } 
  
  .img12 {
    @extend .img1; } 