/*=================================================================================================================
  GALERIA.HTML
  ==================================================================================================================*/
  
  @mixin fonts($font-size, $font-weight) {
    font-size: $font-size;
    font-weight: $font-weight;
  }

  $sizes: (
    width: 100%,
    height: 100%,
    color: #fff
  );


  .Galeria {
    width: map-get($sizes, width);
    margin: auto;
    text-align: center;
    margin-bottom: 70px; }
  
  .GaleriaText {
    margin-bottom: 50px; }
  
  .GaleriaText h1 {
    @include fonts(50px,700); }
  
  .GaleriaText p {
    @include fonts(22px,500); }
  
  .GaleriaImg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
    grid-auto-flow: dense;
    grid-gap: 5px;
    margin: 40px; }

  .GaleriaImgSub {
    width: 100%;
    height: 100%;
    overflow: hidden; }
  
  .GaleriaImgSub img {
    width: map-get($sizes, width);
    height: map-get($sizes, height);
    object-fit: cover;
    transition: .5s; }

  .GaleriaImgSub img:hover {
    transform: scale(1.1); }

  
  .IMG1 {
    grid-row: span 4;
    grid-column: span 1; } 
  
  .IMG2 {
    grid-row: span 3;
    grid-column: span 1; } 
  
  .IMG3 {
    grid-row: span 5;
    grid-column: span 1; }
  
  .IMG4 {
    @extend .IMG1; } 

  .IMG5 {
    @extend .IMG1; } 
  
  .IMG6 {
    @extend .IMG1; }
  
  .IMG7 {
    @extend .IMG3; }
  
  .IMG8 {
    @extend .IMG3; } 
  
  .IMG9 {
    @extend .IMG1; } 
  
  .IMG10 {
    @extend .IMG1; }
  
  .IMG11 {
    @extend .IMG1; } 
  
  .IMG12 {
    @extend .IMG3; } 