
  /*=================================================================================================================
  PAQUETES.HTML
  ==================================================================================================================*/
  /* ---- HEADER ---- */
  .HeaderBackground p {
    color: #000; }
  
  .HeaderBackground ul li a {
    color: #000; }
  
  .HeaderBackground {
    width: 100%;
    height: 150px;
    background-image: linear-gradient(rgba(190, 166, 160, 0.5), transparent); }
  
  /* ---- PAQUETES ---- */
  .Paquete {
    width: 90%;
    margin: auto;
    text-align: center; }
  
  .PaqueteText h1 {
    font-size: 50px;
    font-weight: 700; }
  
  .PaqueteText p {
    font-size: 22px;
    margin: 10px 0 30px 0; }
  
  .PaqueteGrid {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    grid-row-gap: 50px;
    justify-content: space-around;
    margin-top: 70px; }
  
  .PaqueteViaje {
    display: inline-block;
    height: 350px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 1px 1px 4px #777;
    text-align: left; }
  
  .PaqueteViaje img {
    width: 100%;
    height: 40%;
    object-fit: cover; }
  
  .PaqueteViaje .PaqueteInfo {
    padding: 5px 10px; }
  
  .PaqueteViaje .PaqueteInfo i {
    font-size: 23px;
    color: #BEA6A0; }
  
  .PaqueteViaje .PaqueteInfo h2 {
    font-size: 20px;
    font-weight: 700; }
  
  .PaqueteViaje .PaqueteInfo p {
    font-size: 15px;
    padding: 2px 0; }
  
  .PaqueteViaje .PaqueteInfo .Dias {
    color: #B3867B;
    font-weight: bold; }
  
  .PaqueteViaje .PaqueteInfo button {
    background-color: #BEA6A0;
    border-style: none;
    padding: 8px;
    width: 40%;
    border-radius: 5px;
    margin: 15px 0px;
    font-size: 16px;
    cursor: pointer;
    color: #fff; }
  
  /* ---- CONSULTA ---- */
  .Consulta {
    width: 60%;
    margin: auto;
    text-align: center;
    margin-bottom: 80px;
    margin-top: 80px; }
  
  .ConsultaText {
    width: 100%;
    height: 300px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(https://cdn.getyourguide.com/img/location/535e42f7ac585.jpeg/88.jpg);
    background-size: cover;
    margin: 50px 0;
    border-radius: 25px;
    color: #fff; }
  
  .ConsultaText h3 {
    position: relative;
    top: 30%;
    font-size: 35px;
    font-weight: 700; }
  
  .ConsultaText p {
    position: relative;
    top: 35%;
    font-size: 20px; }
  
  .ConsultaText button {
    position: relative;
    top: 45%;
    font-size: 16px;
    border-style: none;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 10px 35px;
    cursor: pointer; 
    transition: .5s; }
  
  .ConsultaText button:hover {
    background-color: #fc3426;
    border: 1px solid #fc3426;
    } 

  .ConsultaText a {
    color: #fff;
    text-decoration: none; }

  .ConsultaText a:hover{
    color: #fff; }